@charset "UTF-8";
/*----*/

.query-panel {
    background-color: #fff;
}

.query-panel-head {
    background-color: #fff;
}

.query-panel-bottom {
    text-align: right;
}

.page-bar > .layui-laypage {
    margin: 0;
}

.page-bar > .layui-laypage a, .page-bar > .layui-laypage span {
    margin-bottom: 0;
}

.layui-card-body.option-buttons {
    position: static;
}
