<!DOCTYPE html>
<html lang="en">
<head>
    <title>FIRST</title>
    <style>
        #icon-table a {
            display: inline-block;
            padding: 20px;
        }
    </style>
</head>
<body>
<h1>Icon Table</h1>
    <section>
        <div id="icon-table">
            <a href="javascript:"><i class="layui-icon layui-icon-duihua"></i>
                <site>layui-icon-duihua</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-shezhi"></i>
                <site>layui-icon-shezhi</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-yinshenim"></i>
                <site>layui-icon-yinshenim</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-search"></i>
                <site>layui-icon-search</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-fenxiang1"></i>
                <site>layui-icon-fenxiang1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-shezhi1"></i>
                <site>layui-icon-shezhi1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-yinqing"></i>
                <site>layui-icon-yinqing</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-close"></i>
                <site>layui-icon-close</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-close-fill"></i>
                <site>layui-icon-close-fill</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-baobiao"></i>
                <site>layui-icon-baobiao</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-star"></i>
                <site>layui-icon-star</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-yuandian"></i>
                <site>layui-icon-yuandian</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-chat"></i>
                <site>layui-icon-chat</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-logo"></i>
                <site>layui-icon-logo</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-list"></i>
                <site>layui-icon-list</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-tubiao"></i>
                <site>layui-icon-tubiao</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-ok-circle"></i>
                <site>layui-icon-ok-circle</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-huanfu2"></i>
                <site>layui-icon-huanfu2</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-On-line"></i>
                <site>layui-icon-On-line</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-biaoge"></i>
                <site>layui-icon-biaoge</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-right"></i>
                <site>layui-icon-right</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-left"></i>
                <site>layui-icon-left</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-cart-simple"></i>
                <site>layui-icon-cart-simple</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-cry"></i>
                <site>layui-icon-cry</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-smile"></i>
                <site>layui-icon-smile</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-survey"></i>
                <site>layui-icon-survey</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-tree"></i>
                <site>layui-icon-tree</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-iconfont17"></i>
                <site>layui-icon-iconfont17</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-tianjia"></i>
                <site>layui-icon-tianjia</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-download-circle"></i>
                <site>layui-icon-download-circle</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-xuanzemoban48"></i>
                <site>layui-icon-xuanzemoban48</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-gongju"></i>
                <site>layui-icon-gongju</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-face-surprised"></i>
                <site>layui-icon-face-surprised</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-bianji"></i>
                <site>layui-icon-bianji</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-speaker"></i>
                <site>layui-icon-speaker</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-down"></i>
                <site>layui-icon-down</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-wenjian"></i>
                <site>layui-icon-wenjian</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-layouts"></i>
                <site>layui-icon-layouts</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-duigou"></i>
                <site>layui-icon-duigou</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-tianjia1"></i>
                <site>layui-icon-tianjia1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-yaoyaozhibofanye"></i>
                <site>layui-icon-yaoyaozhibofanye</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-read"></i>
                <site>layui-icon-read</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-404"></i>
                <site>layui-icon-404</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-lunbozutu"></i>
                <site>layui-icon-lunbozutu</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-help"></i>
                <site>layui-icon-help</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-daima1"></i>
                <site>layui-icon-daima1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-jinshui"></i>
                <site>layui-icon-jinshui</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-username"></i>
                <site>layui-icon-username</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-find-fill"></i>
                <site>layui-icon-find-fill</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-about"></i>
                <site>layui-icon-about</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-location"></i>
                <site>layui-icon-location</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-up"></i>
                <site>layui-icon-up</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-pause"></i>
                <site>layui-icon-pause</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-riqi"></i>
                <site>layui-icon-riqi</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-uploadfile"></i>
                <site>layui-icon-uploadfile</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-delete"></i>
                <site>layui-icon-delete</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-play"></i>
                <site>layui-icon-play</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-top"></i>
                <site>layui-icon-top</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-haoyouqingqiu"></i>
                <site>layui-icon-haoyouqingqiu</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-refresh-3"></i>
                <site>layui-icon-refresh-3</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-weibiaoti1"></i>
                <site>layui-icon-weibiaoti1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-chuangkou"></i>
                <site>layui-icon-chuangkou</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-comiisbiaoqing"></i>
                <site>layui-icon-comiisbiaoqing</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-zhengque"></i>
                <site>layui-icon-zhengque</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-dollar"></i>
                <site>layui-icon-dollar</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-iconfontwodehaoyou"></i>
                <site>layui-icon-iconfontwodehaoyou</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-wenjianxiazai"></i>
                <site>layui-icon-wenjianxiazai</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-tupian"></i>
                <site>layui-icon-tupian</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-lianjie"></i>
                <site>layui-icon-lianjie</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-diamond"></i>
                <site>layui-icon-diamond</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-jilu"></i>
                <site>layui-icon-jilu</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-liucheng"></i>
                <site>layui-icon-liucheng</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-fontstrikethrough"></i>
                <site>layui-icon-fontstrikethrough</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-unlink"></i>
                <site>layui-icon-unlink</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-bianjiwenzi"></i>
                <site>layui-icon-bianjiwenzi</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-sanjiao"></i>
                <site>layui-icon-sanjiao</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-danxuankuanghouxuan"></i>
                <site>layui-icon-danxuankuanghouxuan</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-danxuankuangxuanzhong"></i>
                <site>layui-icon-danxuankuangxuanzhong</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-juzhongduiqi"></i>
                <site>layui-icon-juzhongduiqi</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-youduiqi"></i>
                <site>layui-icon-youduiqi</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-zuoduiqi"></i>
                <site>layui-icon-zuoduiqi</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-gongsisvgtubiaozongji22"></i>
                <site>layui-icon-gongsisvgtubiaozongji22</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-gongsisvgtubiaozongji23"></i>
                <site>layui-icon-gongsisvgtubiaozongji23</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-refresh-2"></i>
                <site>layui-icon-refresh-2</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-loading-1"></i>
                <site>layui-icon-loading-1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-return"></i>
                <site>layui-icon-return</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-jiacu"></i>
                <site>layui-icon-jiacu</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-uploading"></i>
                <site>layui-icon-uploading</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-liaotianduihuaimgoutong"></i>
                <site>layui-icon-liaotianduihuaimgoutong</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-video"></i>
                <site>layui-icon-video</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-headset"></i>
                <site>layui-icon-headset</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-wenjianjiafan"></i>
                <site>layui-icon-wenjianjiafan</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-shouji"></i>
                <site>layui-icon-shouji</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-tianjia2"></i>
                <site>layui-icon-tianjia2</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-wenjianjia"></i>
                <site>layui-icon-wenjianjia</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-biaoqing"></i>
                <site>layui-icon-biaoqing</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-html"></i>
                <site>layui-icon-html</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-biaodan"></i>
                <site>layui-icon-biaodan</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-cart"></i>
                <site>layui-icon-cart</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-camera-fill"></i>
                <site>layui-icon-camera-fill</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-25"></i>
                <site>layui-icon-25</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-emwdaima"></i>
                <site>layui-icon-emwdaima</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-fire"></i>
                <site>layui-icon-fire</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-set"></i>
                <site>layui-icon-set</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-zitixiahuaxian"></i>
                <site>layui-icon-zitixiahuaxian</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-sanjiao1"></i>
                <site>layui-icon-sanjiao1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-tips"></i>
                <site>layui-icon-tips</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-tupian-copy-copy"></i>
                <site>layui-icon-tupian-copy-copy</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-more-vertical"></i>
                <site>layui-icon-more-vertical</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-zhuti2"></i>
                <site>layui-icon-zhuti2</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-loading"></i>
                <site>layui-icon-loading</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-xieti"></i>
                <site>layui-icon-xieti</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-refresh-1"></i>
                <site>layui-icon-refresh-1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-rmb"></i>
                <site>layui-icon-rmb</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-home"></i>
                <site>layui-icon-home</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-user"></i>
                <site>layui-icon-user</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-notice"></i>
                <site>layui-icon-notice</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-login-weibo"></i>
                <site>layui-icon-login-weibo</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-voice"></i>
                <site>layui-icon-voice</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-download"></i>
                <site>layui-icon-download</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-login-qq"></i>
                <site>layui-icon-login-qq</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-snowflake"></i>
                <site>layui-icon-snowflake</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-yemian1"></i>
                <site>layui-icon-yemian1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-template"></i>
                <site>layui-icon-template</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-auz"></i>
                <site>layui-icon-auz</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-console"></i>
                <site>layui-icon-console</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-app"></i>
                <site>layui-icon-app</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-prev"></i>
                <site>layui-icon-prev</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-website"></i>
                <site>layui-icon-website</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-next"></i>
                <site>layui-icon-next</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-component"></i>
                <site>layui-icon-component</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-more"></i>
                <site>layui-icon-more</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-login-wechat"></i>
                <site>layui-icon-login-wechat</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-shrink-right"></i>
                <site>layui-icon-shrink-right</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-spread-left"></i>
                <site>layui-icon-spread-left</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-camera"></i>
                <site>layui-icon-camera</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-note"></i>
                <site>layui-icon-note</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-refresh"></i>
                <site>layui-icon-refresh</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-nv"></i>
                <site>layui-icon-nv</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-nan"></i>
                <site>layui-icon-nan</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-password"></i>
                <site>layui-icon-password</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-senior"></i>
                <site>layui-icon-senior</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-theme"></i>
                <site>layui-icon-theme</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-tread"></i>
                <site>layui-icon-tread</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-praise"></i>
                <site>layui-icon-praise</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-star-fill"></i>
                <site>layui-icon-star-fill</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-template-1"></i>
                <site>layui-icon-template-1</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-loading-2"></i>
                <site>layui-icon-loading-2</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-vercode"></i>
                <site>layui-icon-vercode</site>
            </a>
            <a href="javascript:"><i class="layui-icon layui-icon-cellphone"></i>
                <site>layui-icon-cellphone</site>
            </a>
        </div>
    </section>
</body>
</html>