<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FIRST</title>
    <style>
        #icon-table >span {
            display: inline-block;
            padding: 20px;
            width: 200px;
        }
    </style>
</head>
<body>
<h1>Examinations</h1>
<dl>
    <dd th:each="examination:${examinationList}">
        <span th:text="${examination.name}"></span>

        <span th:text="${examination.examinationPaper.name}"></span>
    </dd>
</dl>
<hr/>
<h1>Icon Table</h1>
    <section>
        <div id="icon-table">
            <span><i class="layui-icon layui-icon-duihua"></i>
                <span>layui-icon-duihua</span>
            </span>
            <span><i class="layui-icon layui-icon-shezhi"></i>
                <span>layui-icon-shezhi</span>
            </span>
            <span><i class="layui-icon layui-icon-yinshenim"></i>
                <span>layui-icon-yinshenim</span>
            </span>
            <span><i class="layui-icon layui-icon-search"></i>
                <span>layui-icon-search</span>
            </span>
            <span><i class="layui-icon layui-icon-fenxiang1"></i>
                <span>layui-icon-fenxiang1</span>
            </span>
            <span><i class="layui-icon layui-icon-shezhi1"></i>
                <span>layui-icon-shezhi1</span>
            </span>
            <span><i class="layui-icon layui-icon-yinqing"></i>
                <span>layui-icon-yinqing</span>
            </span>
            <span><i class="layui-icon layui-icon-close"></i>
                <span>layui-icon-close</span>
            </span>
            <span><i class="layui-icon layui-icon-close-fill"></i>
                <span>layui-icon-close-fill</span>
            </span>
            <span><i class="layui-icon layui-icon-baobiao"></i>
                <span>layui-icon-baobiao</span>
            </span>
            <span><i class="layui-icon layui-icon-star"></i>
                <span>layui-icon-star</span>
            </span>
            <span><i class="layui-icon layui-icon-yuandian"></i>
                <span>layui-icon-yuandian</span>
            </span>
            <span><i class="layui-icon layui-icon-chat"></i>
                <span>layui-icon-chat</span>
            </span>
            <span><i class="layui-icon layui-icon-logo"></i>
                <span>layui-icon-logo</span>
            </span>
            <span><i class="layui-icon layui-icon-list"></i>
                <span>layui-icon-list</span>
            </span>
            <span><i class="layui-icon layui-icon-tubiao"></i>
                <span>layui-icon-tubiao</span>
            </span>
            <span><i class="layui-icon layui-icon-ok-circle"></i>
                <span>layui-icon-ok-circle</span>
            </span>
            <span><i class="layui-icon layui-icon-huanfu2"></i>
                <span>layui-icon-huanfu2</span>
            </span>
            <span><i class="layui-icon layui-icon-On-line"></i>
                <span>layui-icon-On-line</span>
            </span>
            <span><i class="layui-icon layui-icon-biaoge"></i>
                <span>layui-icon-biaoge</span>
            </span>
            <span><i class="layui-icon layui-icon-right"></i>
                <span>layui-icon-right</span>
            </span>
            <span><i class="layui-icon layui-icon-left"></i>
                <span>layui-icon-left</span>
            </span>
            <span><i class="layui-icon layui-icon-cart-simple"></i>
                <span>layui-icon-cart-simple</span>
            </span>
            <span><i class="layui-icon layui-icon-cry"></i>
                <span>layui-icon-cry</span>
            </span>
            <span><i class="layui-icon layui-icon-smile"></i>
                <span>layui-icon-smile</span>
            </span>
            <span><i class="layui-icon layui-icon-survey"></i>
                <span>layui-icon-survey</span>
            </span>
            <span><i class="layui-icon layui-icon-tree"></i>
                <span>layui-icon-tree</span>
            </span>
            <span><i class="layui-icon layui-icon-iconfont17"></i>
                <span>layui-icon-iconfont17</span>
            </span>
            <span><i class="layui-icon layui-icon-tianjia"></i>
                <span>layui-icon-tianjia</span>
            </span>
            <span><i class="layui-icon layui-icon-download-circle"></i>
                <span>layui-icon-download-circle</span>
            </span>
            <span><i class="layui-icon layui-icon-xuanzemoban48"></i>
                <span>layui-icon-xuanzemoban48</span>
            </span>
            <span><i class="layui-icon layui-icon-gongju"></i>
                <span>layui-icon-gongju</span>
            </span>
            <span><i class="layui-icon layui-icon-face-surprised"></i>
                <span>layui-icon-face-surprised</span>
            </span>
            <span><i class="layui-icon layui-icon-bianji"></i>
                <span>layui-icon-bianji</span>
            </span>
            <span><i class="layui-icon layui-icon-speaker"></i>
                <span>layui-icon-speaker</span>
            </span>
            <span><i class="layui-icon layui-icon-down"></i>
                <span>layui-icon-down</span>
            </span>
            <span><i class="layui-icon layui-icon-wenjian"></i>
                <span>layui-icon-wenjian</span>
            </span>
            <span><i class="layui-icon layui-icon-layouts"></i>
                <span>layui-icon-layouts</span>
            </span>
            <span><i class="layui-icon layui-icon-duigou"></i>
                <span>layui-icon-duigou</span>
            </span>
            <span><i class="layui-icon layui-icon-tianjia1"></i>
                <span>layui-icon-tianjia1</span>
            </span>
            <span><i class="layui-icon layui-icon-yaoyaozhibofanye"></i>
                <span>layui-icon-yaoyaozhibofanye</span>
            </span>
            <span><i class="layui-icon layui-icon-read"></i>
                <span>layui-icon-read</span>
            </span>
            <span><i class="layui-icon layui-icon-404"></i>
                <span>layui-icon-404</span>
            </span>
            <span><i class="layui-icon layui-icon-lunbozutu"></i>
                <span>layui-icon-lunbozutu</span>
            </span>
            <span><i class="layui-icon layui-icon-help"></i>
                <span>layui-icon-help</span>
            </span>
            <span><i class="layui-icon layui-icon-daima1"></i>
                <span>layui-icon-daima1</span>
            </span>
            <span><i class="layui-icon layui-icon-jinshui"></i>
                <span>layui-icon-jinshui</span>
            </span>
            <span><i class="layui-icon layui-icon-username"></i>
                <span>layui-icon-username</span>
            </span>
            <span><i class="layui-icon layui-icon-find-fill"></i>
                <span>layui-icon-find-fill</span>
            </span>
            <span><i class="layui-icon layui-icon-about"></i>
                <span>layui-icon-about</span>
            </span>
            <span><i class="layui-icon layui-icon-location"></i>
                <span>layui-icon-location</span>
            </span>
            <span><i class="layui-icon layui-icon-up"></i>
                <span>layui-icon-up</span>
            </span>
            <span><i class="layui-icon layui-icon-pause"></i>
                <span>layui-icon-pause</span>
            </span>
            <span><i class="layui-icon layui-icon-riqi"></i>
                <span>layui-icon-riqi</span>
            </span>
            <span><i class="layui-icon layui-icon-uploadfile"></i>
                <span>layui-icon-uploadfile</span>
            </span>
            <span><i class="layui-icon layui-icon-delete"></i>
                <span>layui-icon-delete</span>
            </span>
            <span><i class="layui-icon layui-icon-play"></i>
                <span>layui-icon-play</span>
            </span>
            <span><i class="layui-icon layui-icon-top"></i>
                <span>layui-icon-top</span>
            </span>
            <span><i class="layui-icon layui-icon-haoyouqingqiu"></i>
                <span>layui-icon-haoyouqingqiu</span>
            </span>
            <span><i class="layui-icon layui-icon-refresh-3"></i>
                <span>layui-icon-refresh-3</span>
            </span>
            <span><i class="layui-icon layui-icon-weibiaoti1"></i>
                <span>layui-icon-weibiaoti1</span>
            </span>
            <span><i class="layui-icon layui-icon-chuangkou"></i>
                <span>layui-icon-chuangkou</span>
            </span>
            <span><i class="layui-icon layui-icon-comiisbiaoqing"></i>
                <span>layui-icon-comiisbiaoqing</span>
            </span>
            <span><i class="layui-icon layui-icon-zhengque"></i>
                <span>layui-icon-zhengque</span>
            </span>
            <span><i class="layui-icon layui-icon-dollar"></i>
                <span>layui-icon-dollar</span>
            </span>
            <span><i class="layui-icon layui-icon-iconfontwodehaoyou"></i>
                <span>layui-icon-iconfontwodehaoyou</span>
            </span>
            <span><i class="layui-icon layui-icon-wenjianxiazai"></i>
                <span>layui-icon-wenjianxiazai</span>
            </span>
            <span><i class="layui-icon layui-icon-tupian"></i>
                <span>layui-icon-tupian</span>
            </span>
            <span><i class="layui-icon layui-icon-lianjie"></i>
                <span>layui-icon-lianjie</span>
            </span>
            <span><i class="layui-icon layui-icon-diamond"></i>
                <span>layui-icon-diamond</span>
            </span>
            <span><i class="layui-icon layui-icon-jilu"></i>
                <span>layui-icon-jilu</span>
            </span>
            <span><i class="layui-icon layui-icon-liucheng"></i>
                <span>layui-icon-liucheng</span>
            </span>
            <span><i class="layui-icon layui-icon-fontstrikethrough"></i>
                <span>layui-icon-fontstrikethrough</span>
            </span>
            <span><i class="layui-icon layui-icon-unlink"></i>
                <span>layui-icon-unlink</span>
            </span>
            <span><i class="layui-icon layui-icon-bianjiwenzi"></i>
                <span>layui-icon-bianjiwenzi</span>
            </span>
            <span><i class="layui-icon layui-icon-sanjiao"></i>
                <span>layui-icon-sanjiao</span>
            </span>
            <span><i class="layui-icon layui-icon-danxuankuanghouxuan"></i>
                <span>layui-icon-danxuankuanghouxuan</span>
            </span>
            <span><i class="layui-icon layui-icon-danxuankuangxuanzhong"></i>
                <span>layui-icon-danxuankuangxuanzhong</span>
            </span>
            <span><i class="layui-icon layui-icon-juzhongduiqi"></i>
                <span>layui-icon-juzhongduiqi</span>
            </span>
            <span><i class="layui-icon layui-icon-youduiqi"></i>
                <span>layui-icon-youduiqi</span>
            </span>
            <span><i class="layui-icon layui-icon-zuoduiqi"></i>
                <span>layui-icon-zuoduiqi</span>
            </span>
            <span><i class="layui-icon layui-icon-gongsisvgtubiaozongji22"></i>
                <span>layui-icon-gongsisvgtubiaozongji22</span>
            </span>
            <span><i class="layui-icon layui-icon-gongsisvgtubiaozongji23"></i>
                <span>layui-icon-gongsisvgtubiaozongji23</span>
            </span>
            <span><i class="layui-icon layui-icon-refresh-2"></i>
                <span>layui-icon-refresh-2</span>
            </span>
            <span><i class="layui-icon layui-icon-loading-1"></i>
                <span>layui-icon-loading-1</span>
            </span>
            <span><i class="layui-icon layui-icon-return"></i>
                <span>layui-icon-return</span>
            </span>
            <span><i class="layui-icon layui-icon-jiacu"></i>
                <span>layui-icon-jiacu</span>
            </span>
            <span><i class="layui-icon layui-icon-uploading"></i>
                <span>layui-icon-uploading</span>
            </span>
            <span><i class="layui-icon layui-icon-liaotianduihuaimgoutong"></i>
                <span>layui-icon-liaotianduihuaimgoutong</span>
            </span>
            <span><i class="layui-icon layui-icon-video"></i>
                <span>layui-icon-video</span>
            </span>
            <span><i class="layui-icon layui-icon-headset"></i>
                <span>layui-icon-headset</span>
            </span>
            <span><i class="layui-icon layui-icon-wenjianjiafan"></i>
                <span>layui-icon-wenjianjiafan</span>
            </span>
            <span><i class="layui-icon layui-icon-shouji"></i>
                <span>layui-icon-shouji</span>
            </span>
            <span><i class="layui-icon layui-icon-tianjia2"></i>
                <span>layui-icon-tianjia2</span>
            </span>
            <span><i class="layui-icon layui-icon-wenjianjia"></i>
                <span>layui-icon-wenjianjia</span>
            </span>
            <span><i class="layui-icon layui-icon-biaoqing"></i>
                <span>layui-icon-biaoqing</span>
            </span>
            <span><i class="layui-icon layui-icon-html"></i>
                <span>layui-icon-html</span>
            </span>
            <span><i class="layui-icon layui-icon-biaodan"></i>
                <span>layui-icon-biaodan</span>
            </span>
            <span><i class="layui-icon layui-icon-cart"></i>
                <span>layui-icon-cart</span>
            </span>
            <span><i class="layui-icon layui-icon-camera-fill"></i>
                <span>layui-icon-camera-fill</span>
            </span>
            <span><i class="layui-icon layui-icon-25"></i>
                <span>layui-icon-25</span>
            </span>
            <span><i class="layui-icon layui-icon-emwdaima"></i>
                <span>layui-icon-emwdaima</span>
            </span>
            <span><i class="layui-icon layui-icon-fire"></i>
                <span>layui-icon-fire</span>
            </span>
            <span><i class="layui-icon layui-icon-set"></i>
                <span>layui-icon-set</span>
            </span>
            <span><i class="layui-icon layui-icon-zitixiahuaxian"></i>
                <span>layui-icon-zitixiahuaxian</span>
            </span>
            <span><i class="layui-icon layui-icon-sanjiao1"></i>
                <span>layui-icon-sanjiao1</span>
            </span>
            <span><i class="layui-icon layui-icon-tips"></i>
                <span>layui-icon-tips</span>
            </span>
            <span><i class="layui-icon layui-icon-tupian-copy-copy"></i>
                <span>layui-icon-tupian-copy-copy</span>
            </span>
            <span><i class="layui-icon layui-icon-more-vertical"></i>
                <span>layui-icon-more-vertical</span>
            </span>
            <span><i class="layui-icon layui-icon-zhuti2"></i>
                <span>layui-icon-zhuti2</span>
            </span>
            <span><i class="layui-icon layui-icon-loading"></i>
                <span>layui-icon-loading</span>
            </span>
            <span><i class="layui-icon layui-icon-xieti"></i>
                <span>layui-icon-xieti</span>
            </span>
            <span><i class="layui-icon layui-icon-refresh-1"></i>
                <span>layui-icon-refresh-1</span>
            </span>
            <span><i class="layui-icon layui-icon-rmb"></i>
                <span>layui-icon-rmb</span>
            </span>
            <span><i class="layui-icon layui-icon-home"></i>
                <span>layui-icon-home</span>
            </span>
            <span><i class="layui-icon layui-icon-user"></i>
                <span>layui-icon-user</span>
            </span>
            <span><i class="layui-icon layui-icon-notice"></i>
                <span>layui-icon-notice</span>
            </span>
            <span><i class="layui-icon layui-icon-login-weibo"></i>
                <span>layui-icon-login-weibo</span>
            </span>
            <span><i class="layui-icon layui-icon-voice"></i>
                <span>layui-icon-voice</span>
            </span>
            <span><i class="layui-icon layui-icon-download"></i>
                <span>layui-icon-download</span>
            </span>
            <span><i class="layui-icon layui-icon-login-qq"></i>
                <span>layui-icon-login-qq</span>
            </span>
            <span><i class="layui-icon layui-icon-snowflake"></i>
                <span>layui-icon-snowflake</span>
            </span>
            <span><i class="layui-icon layui-icon-yemian1"></i>
                <span>layui-icon-yemian1</span>
            </span>
            <span><i class="layui-icon layui-icon-template"></i>
                <span>layui-icon-template</span>
            </span>
            <span><i class="layui-icon layui-icon-auz"></i>
                <span>layui-icon-auz</span>
            </span>
            <span><i class="layui-icon layui-icon-console"></i>
                <span>layui-icon-console</span>
            </span>
            <span><i class="layui-icon layui-icon-app"></i>
                <span>layui-icon-app</span>
            </span>
            <span><i class="layui-icon layui-icon-prev"></i>
                <span>layui-icon-prev</span>
            </span>
            <span><i class="layui-icon layui-icon-website"></i>
                <span>layui-icon-website</span>
            </span>
            <span><i class="layui-icon layui-icon-next"></i>
                <span>layui-icon-next</span>
            </span>
            <span><i class="layui-icon layui-icon-component"></i>
                <span>layui-icon-component</span>
            </span>
            <span><i class="layui-icon layui-icon-more"></i>
                <span>layui-icon-more</span>
            </span>
            <span><i class="layui-icon layui-icon-login-wechat"></i>
                <span>layui-icon-login-wechat</span>
            </span>
            <span><i class="layui-icon layui-icon-shrink-right"></i>
                <span>layui-icon-shrink-right</span>
            </span>
            <span><i class="layui-icon layui-icon-spread-left"></i>
                <span>layui-icon-spread-left</span>
            </span>
            <span><i class="layui-icon layui-icon-camera"></i>
                <span>layui-icon-camera</span>
            </span>
            <span><i class="layui-icon layui-icon-note"></i>
                <span>layui-icon-note</span>
            </span>
            <span><i class="layui-icon layui-icon-refresh"></i>
                <span>layui-icon-refresh</span>
            </span>
            <span><i class="layui-icon layui-icon-nv"></i>
                <span>layui-icon-nv</span>
            </span>
            <span><i class="layui-icon layui-icon-nan"></i>
                <span>layui-icon-nan</span>
            </span>
            <span><i class="layui-icon layui-icon-password"></i>
                <span>layui-icon-password</span>
            </span>
            <span><i class="layui-icon layui-icon-senior"></i>
                <span>layui-icon-senior</span>
            </span>
            <span><i class="layui-icon layui-icon-theme"></i>
                <span>layui-icon-theme</span>
            </span>
            <span><i class="layui-icon layui-icon-tread"></i>
                <span>layui-icon-tread</span>
            </span>
            <span><i class="layui-icon layui-icon-praise"></i>
                <span>layui-icon-praise</span>
            </span>
            <span><i class="layui-icon layui-icon-star-fill"></i>
                <span>layui-icon-star-fill</span>
            </span>
            <span><i class="layui-icon layui-icon-template-1"></i>
                <span>layui-icon-template-1</span>
            </span>
            <span><i class="layui-icon layui-icon-loading-2"></i>
                <span>layui-icon-loading-2</span>
            </span>
            <span><i class="layui-icon layui-icon-vercode"></i>
                <span>layui-icon-vercode</span>
            </span>
            <span><i class="layui-icon layui-icon-cellphone"></i>
                <span>layui-icon-cellphone</span>
            </span>
        </div>
    </section>
</body>
</html>