
form .danger select,
form .danger input,
form .danger textarea {
    border-color: #FF5722 !important
}

form .danger-text {
    color: #FF5722 !important;
    padding-left: 10px;
}

form .danger-tip {
    margin-top: 1px;
    line-height: 19px;
    /* padding-left: 10px; */
}

form .danger-tip > .layui-badge {
    line-height: 19px;
    padding-left: 6px;
    padding-right: 6px;
}